.row {
  display: flex;
  box-sizing: border-box;
}

.row:hover {
  background-color: rgb(231, 234, 236);
  border-radius: 3px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: rgb(189, 184, 184);
}

.completed .total {
  color: rgb(189, 184, 184);
}

div {
  padding: 5px 0;
}

.title {
  display: flex;
  width: 50%;
  padding: 0 5px;
}

.price {
  width: 15%;
  padding: 0 5px;
}

.quantity{
  width: 10%;
  padding: 0 5px;
}

.total{
  width: 15%;
  font-weight: bolder;
  color: green;
  padding: 0 5px;
}

.actions {
  width: 10%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 5px;
}

.actions button {
  border: none;
  font-size: 12px;
  background-color: rgb(206, 7, 7);
  color: white;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.actions button:hover {
  background-color: darkred;
  cursor: pointer;
}

